

// $blue:    #3498DB;
$indigo:  #916fc8;
$purple:  #5d3b9c;
$pink:    #ab4578;
$red:     #fa2f44;
// $orange:  #F39C12;
$yellow:  #ffdf7e;
// $green:   #2ECC71;
$teal:    #9fffe2;
$cyan:    #8eecff;



// Color palette
$blue:    #3498DB;
$green:   #2ECC71; // Emerald Green
$orange:  #F39C12; // Soft Orange

$light-gray: #F7F7F7;
$cool-gray : #D1D5DB;
$dark-slate-grey: #2C3E50;
$dark-charcoal : #333333;

